.container {
  &.fade-to-white {
    animation: fade-to-white linear 1s forwards;
  }

  @keyframes fade-to-white {
    0% { background: #111 }
    100% { background: #fff }
  }

  @keyframes fade-out {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
}

.intro-text {
  font-family: 'Roboto Mono', monospace;
}

.fade-out {
  animation: fade-out linear 1s forwards;
}
